body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    min-width: 1920px;
    padding: 50px;
    height: 5000px;
}
.soc:hover{
    background: radial-gradient(white, red);
    transform: skew(-20deg, 20deg);
    transition-duration: .2s;
}
.container{
    margin: 0px 320px;
    width: 1920px;
    color: #002040;
}
.header-logo{
    margin-left: -100px;
}
.img{
    margin-left: -350px;
}
.header{
    position: fixed;
    z-index: 44;
    width: 1925px;
    height: 100px;
    top: 0;
    background-color: white;
}
.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav{
    margin-left: -100px;
}
.nav-item{
    color: #002040;
    text-decoration: none;
    font-weight: 500;
    font-size: 16;
    margin-right: 60px;
}
.nav-item:hover{
    text-decoration: underline;
}
.time{
    margin-left: -250px;
}
.phone{
    position: absolute;
    left: 1500px;
    margin-top: -30px;
}
.header2{
    margin-top: -70px;
    background: url(Photo_bg.jpg);
    height: 700px;
    left: 0;
}
.text{
    margin-top: 200px;
    position: absolute;
    left: 100px;
    font-weight: 500;
    font-size: 48px;
    color: #002040;
}
.text1{
    margin-top: 375px;
    position: absolute;
    left: 100px;
    font-weight: 500;
    font-size: 24px;
    color: #002040;
}
.btn{
    margin-top: 500px;
    position: absolute;
    left: 100px;
    font-weight: 500;
    font-size: 24px;
    background-color: #007FFF;
    border-radius: 30px;
    height: 60px;
    width: 300px;
}
.btn:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 60px;
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
	transition: all 2s ease;
}
.btn:hover:before {
	width: 100%;
}
.btn1:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 60px;
	background: gray;
	border-radius: 30px;
	transition: all 0.5s ease;
}
.btn1:hover:before {
	width: 100%;
}
.button{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    position: absolute;
    margin-top: 15px;
}
.btn1{
    margin-top: 500px;
    position: absolute;
    left: 450px;
    font-weight: 700;
    font-size: 24px;
    color: black;
    border: 3px solid black;
    border-radius: 30px;
    height: 60px;
    width: 300px;
}
.button1{
    text-decoration: none;
    margin-left: 15px;
    position: absolute;
    margin-top: 2px;
    margin-left: 50px;
}
.img1{
    background: url(Photo.jpg) no-repeat;
    height: 700px;
    margin-left: 800px;
    margin-top: 100px;
}
.img2{
    background: url(Photo1.jpg) no-repeat;
    height: 700px;
    margin-left: 500px;
    margin-top: 0px;
}
.text2{
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    margin: 100px 0 0 220px;
    color: #002040;
}
.framew{
    margin-top: 50px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    left: 220px;
}
.text3{
    font-weight: 600px;
    font-size: 36px;
    text-align: center;
    margin-top: 100px;
    color: #002040;
}
.text4{
    font-weight: 600px;
    font-size: 36px;
    text-align: center;
    margin-top: 100px;
    color: #002040;
}
.cont{
    margin-top: 50px;
    text-align: center;
    width: 1280px;
    height: 453px;
    border-radius: 2%;
    background-color: #fff;
    margin-left: 350px;
}
.cont2{
    position: absolute;
    width: 600px;
    height: 373px;
    border-radius: 2%;
    background-color: #E5E5E5;
    margin-left: 650px;
    margin-top: 40px;
}
.cont3{
    position: absolute;
    width: 500px;
    height: 70px;
    background-color: #fff;
    border-radius: 15%;
    margin-left: 55px;
    margin-top: 15px;
}
.bn{
    position: absolute;
    margin-left: 40px;
    margin-top: 20px;
    background-color: #007FFF;
    border-radius: 10px;
    width: 150px;
    height: 35px;
}
.bn:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 35px;
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
	transition: all 2s ease;
}
.bn:hover:before {
	width: 100%;
}
.bn2:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 35px;
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
	transition: all 2s ease;
}
.bn2:hover:before {
	width: 100%;
}
.bo{
    text-decoration: none;
    color: white;
    position: absolute;
    margin-top: 5px;
    margin-left: -25px;
}
.bo1{
    text-decoration: none;
    color: white;
    position: absolute;
    margin-top: 5px;
    margin-left: -20px;
}
.n1{
    position: absolute;
    top: 150px;
    left: 90px;
    color: #002040;
    font-size: 24px;
    font-weight: 600px;
}
.n2{
    position: absolute;
    top: 200px;
    left: 170px;
    color: #002040;
    font-size: 36px;
    font-weight: 600px;
}
.n3{
    position: absolute;
    top: 260px;
    left: 50px;
    color: #002040;
    border-radius: 15px;
    background-color: #007FFF;
    width: 500px;
    height: 50px;
}
.n3:hover{
    animation: bounce 1s;
    background: radial-gradient(white, #FFA9A1);
}
.bt1{
    text-decoration: none;
    color: white;
    position: absolute;
    margin-top: 13px;
    margin-left: -70px;
}
.bn2{
    position: absolute;
    margin-left: 300px;
    margin-top: 20px;
    background-color: #007FFF;
    border-radius: 10px;
    width: 150px;
    height: 35px;
}
.imeg{
    width: 380px;
    height: 380px;
    position: absolute;
    margin-top: 45px;
    margin-left: -50px;
}
.text5{
    font-weight: 600px;
    font-size: 36px;
    text-align: center;
    margin-top: 100px;
    color: #002040;
}
.text6{
    font-weight: 600px;
    font-size: 36px;
    text-align: center;
    margin-top: 100px;
    color: #002040;
}
.text7{
    font-weight: 600px;
    font-size: 36px;
    text-align: center;
    margin-top: 100px;
    color: #002040;
}
.text8{
    font-weight: 600px;
    font-size: 36px;
    text-align: center;
    margin-top: 100px;
    color: #002040;
}
.fr{
    border-radius: 30px;
}
.partners{
    margin-top: 50px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 150px;
    transform-style: flat;
}
.wrapper{
	height: 100%;
	padding: 50px;
	display: flex;
	justify-content:center;
	align-items: center;
}
/* Основные стили */

/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
    padding-left: 60px;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}

/* Слайд */
.slick-slide{}
/* Слайд активный */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки */
.slick-dots{}
.slick-dots li{}
.slick-dots button{}

/* Конкретный слайдер */
.slider {
	position: relative;
	padding: 0px 160px;
}
.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background: url('img/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
	right: 0;
	background: url('img/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
}

.slider__item {
	padding: 0px 15px;
}
.slider__item img{
	max-width: 100%;
}
.slider__item.slick-center{
	
}
@media (max-width:767px){
	.slider {
		padding: 0px 40px;
	}
}
@media (max-width:767px){
	.wrapper{padding: 50px 10px;}
    .nav{display: none;}
    .phone{display: none;}
}
@media (max-width:767px){
	
}
.questions{
    background-color: #fff;
}
.vtb{
    border-radius: 500px;
}
.vtb:hover{
    filter: opacity(30%);
}
.capital{
    background-color: #F2F9FF;
    width: 840px;
    margin-left: 200px;
    border-radius: 20px;
    position: relative;
    top: 80px;
}
.zag1{
    font-weight: 800px;
    font-size: 24px;
    position: absolute;
    margin-top: -100px;
    margin-left: 300px;
    color: #002040;
}
.t1{
    text-align: center;
    position: absolute;
    margin-top: -50px;
    margin-left: 100px;
    color: #002040;
}
.impot{
    background-color: #F2F9FF;
    width: 840px;
    margin-left: 200px;
    border-radius: 20px;
    margin-top: 100px;
}
.zag2{
    font-weight: 800px;
    font-size: 24px;
    text-align: center;
    position: absolute;
    margin-top: -100px;
    margin-left: 300px;
    color: #002040;
}
.t2{
    text-align: center;
    position: absolute;
    margin-top: -50px;
    margin-left: 100px;
    color: #002040;
}
.i2{
    margin-top: 20px;
}
.oplata{
    background-color: #F2F9FF;
    width: 840px;
    margin-left: 200px;
    border-radius: 20px;
    margin-top: 20px;
}
.zag3{
    font-weight: 800px;
    font-size: 24px;
    text-align: center;
    position: absolute;
    margin-top: -100px;
    margin-left: 300px;
    color: #002040;
}
.t3{
    text-align: center;
    position: absolute;
    margin-top: -50px;
    margin-left: 250px;
    color: #002040;
}
.i3{
    text-align: left;
}
.ques{
    background-color: #F2F9FF;
    width: 400px;
    margin-left: 1100px;
    border-radius: 20px;
    height: 385px;
    margin-top: -385px;
}
.gal{
    border-radius: 30px;
}
.section{
    left: 200px;
}
.ot{
    border-radius: 500px;
}
.section4{
    width: 1920px;
    height: 600px;
    background: #FFFFFF;
    box-shadow: 10px 5px 5px black;
}
.zag4{
    font-weight: 800px;
    font-size: 24px;
    position: absolute;
    margin-left: 120px;
    margin-top: 130px;
    color: #002040;
}
.t4{
    text-align: center;
    position: absolute;
    margin-left: 30px;
    margin-top: 175px;
    color: #002040;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
.bn4:hover {
	animation: bounce 1s;
}
.bn4{
    position: absolute;
    margin-left: 80px;
    margin-top: 250px;
    border-radius: 15px;
    background-color: #007FFF;
    height: 100px;
    width: 250px;
}
.bo2{
    color: white;
    position: absolute;
    margin-top: 40px;
    margin-left: 30px;
    text-decoration: none;
}
.ig1{
    margin-left: 500px;
}
.i1{
    margin-top: 20px;
}
.footer{
    background-color: #002040;
    width: 1920px;
    height: 500px;
    margin-top: 50px;
    box-shadow: 10px 5px 5px red;
}
.a1{
    color: white;
    position: absolute;
    left: 300px;
    margin-top: 40px;
    font-weight: 190;
font-size: 17px;
}
.al1{
    color: white;
    position: absolute;
    left: 700px;
    margin-top: 30px;
}
.foot1{
    align-items: center;
    height: 100px;
}
.bn1{
    color: white;
    position: absolute;
    margin-top: 15px;
    left: 1200px;
    background-color: white;
    border-radius: 30px;
    height: 80px;
    width: 325px;
}
.bn1:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 80px;
	background: gray;
	border-radius: 30px;
	transition: all 0.5s ease;
}
.bn1:hover:before {
	width: 100%;
}
.c{
    position: absolute;
    margin-top: -20px;
    margin-left: -20px;
}
.but1{
    text-decoration: none;
    color: #002040;
    position: absolute;
    margin-left: 55px;
    margin-top: 30px;
}
.a2{
    color: white;
    position: absolute;
    left: 300px;
    margin-top: 20px;
}
.a3{
    color: white;
    position: absolute;
    left: 500px;
    margin-top: 20px;
}
.a4{
    color: white;
    position: absolute;
    left: 800px;
    margin-top: 20px;
}
.a5{
    color: white;
    position: absolute;
    left: 1300px;
    margin-top: 20px;
}
.foot2{
    height: 100px;
}
.a6{
    margin-top: 50px;
    position: absolute;
    left: 200px;
}
.a6:hover{
    text-decoration: underline;
}
.a7:hover{
    text-decoration: underline;
}
.po{
    text-decoration: none;
    color: white;
}
.do{
    text-decoration: none;
    color: white;
}
.a7{
    margin-top: 50px;
    color: white;
    position: absolute;
    left: 600px;
}
.a8{
    margin-top: 50px;
    position: absolute;
    left: 1500px;
}
.a9{
    margin-top: 50px;
    position: absolute;
    left:1550px;
}
.a10{
    margin-top: 50px;
    position: absolute;
    left: 1600px;
}
.a11{
    margin-top: 50px;
    position: absolute;
    left: 1500px;
}
.map{
    margin-top: 50px;
}
#button-up{
    display: none;
    opacity:0.5;
    filter:alpha(opacity=50);
    position: fixed;
    left:520px;
    bottom: 100px;
    color: #000;
    transition: .3s;
    height: 100px;
    margin-left: 1300px;
    }
    
    #button-up:hover{
    cursor: pointer;
    opacity: 1;
    filter:alpha(opacity=100);
    transition: .3s;
    color: #FF0000;
    }
    #button-up img {
    width: 100px;
    height: 150px;
    }
    #menu__toggle {
        opacity: 0;
      }
      
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }
      
      .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
      
        width: 26px;
        height: 26px;
      
        cursor: pointer;
        z-index: 1;
      }
      
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
      
        width: 100%;
        height: 2px;
      
        background-color: #616161;
      
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      
      .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
      
        width: 300px;
        height: 100%;
      
        margin: 0;
        padding: 80px 0;
      
        list-style: none;
      
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      
        transition-duration: .25s;
      }
      
      .menu__item {
        display: block;
        padding: 12px 24px;
      
        color: #333;
      
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 600;
      
        text-decoration: none;
      
        transition-duration: .25s;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }
      .link {color:#fff; text-decoration:none}
      .link:hover {color:#fff; text-decoration:underline}  
  #mask {
      position:absolute;
      left:0;
      top:0;
      z-index:9000;
      background-color:#000;
      display:none;
      }
  #boxes .window {
      position:absolute;
      left:0;
      top:0px;
      -top: 40px;
      width:440px;
      height:200px;
      display:none;
      z-index:9999;
      padding: 20px;
      overflow: hidden;
      }  
  #boxes #dialog {
      width:375px; 
      height:203px;
      padding:10px;
      background-color:#ffffff;
      }  
  .top {
      position:absolute;
      left:0;
      top:0;
      width:370px;
      height:30px;
      background: #0085cc;
      padding: 8px 20px 6px 10px;
      }
  .close {
      float:right;
      }
  .content {
      padding-top: 35px;
  }